RewriteEngine on
RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]


RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]


DirectoryIndex login.php login.php login.php login.php
